---
import Base from "../layouts/Base.astro"
import Project from "../components/Project.astro"
import { getProjects } from "../lib/projects"

const projects = await getProjects()

const title = "0xMukesh • home";
---

<Base
  {title}
  description="portfolio of 0xMukesh"
>
  <h1 slot="header-content" class="text-neutral-500">
    0xMukesh
  </h1>

  <main class="prose">
    <p>
      <br />
      Hey there! I'm <strong>Mukesh</strong>, a 17 y/o biotechnology undergrad student at <strong><a href="https://en.wikipedia.org/wiki/National_Institute_of_Technology,_Warangal" class="underline decoration-neutral-600 underline-offset-4 transition-colors focus:(decoration-neutral-500 outline-offset-6) hover:decoration-neutral-500">NIT Warangal</a></strong> and a backend engineer with over 3 years of experience in building scalable systems. I have keen interest in domains like web3 and artifical intelligence.
    </p>


    <div class="mt-12"></div>
    <h2>Projects</h2>

    <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
      {projects.map(project => <Project {project} />)}
    </div>

  </main>
</Base>
